# General
.DS_Store
.AppleDouble
.LSOverride

TV_time_tracker/.ipynb_checkpoints/
TV_time_tracker/__pycache__/
TV_time_tracker/image_database/
TV_time_tracker/test/

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk.DS_Store
